body {
    background-color: #090C02;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 80px;
}
.container {
    background-color: #F4AFB4;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    padding: 30px;
}
h1 {
    color: #090C02;
    margin-bottom: 30px;
}
input, button {
    height: 40px;
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: hidden;
}
button {    
    background-color: #090C02;
    color: #F4AFB4;
}
button:hover {    
    background-color: #F4AFB4;
    color: #090C02;
    border: 1px solid #090C02;
}
.dados {
    margin-bottom: 30px;
}